<!DOCTYPE html>
<html>
  <head>
    <title>Weather Forecast</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'header' %>

    <div class="container">
      <div id="flash-container">
        <% flash.each do |type, msg| %>
          <div class="<%= type %> <%= type %>-danger %>">
            <%= msg %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
